{{extend 'layout.html'}}
<div style="
    border-bottom:1px solid rgb(210,210,210);
    padding:5px;
    padding-bottom:10px;
    margin-left:-15px;
    margin-top:-32px;
    background-color:rgb(248,248,248)
    ">
    
    <h3 style="margin-left:12%;color:rgb(70,70,70)">contact</h3>
    
</div>
<div class="main-content"><br>
	<a href="mailto:troverman@gmail.com?subject=troverman -- contact&body=hey what's up!">
        <img id="images_div_gmail" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/gmail.jpg" />
        <h4>troverman@gmail.com</h4>
    </a>	

    <a href="http://www.conex.us/member/troverman">
    <img id="images_div_facebook_trevor" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/facebook.png" />
    <h4>conex.us</h4>
    </a>
    <a href="http://www.facebook.com/troverman">
	<img id="images_div_facebook_trevor" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/facebook.png" />
    <h4>facebook -- trevor</h4>
    </a>
    
    <a href="http://www.facebook.com/pages/Troverman/587085597973653">	
	<img id="images_div_facebook_troverman" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/facebook.png" />
	<h4>facebook -- troverman</h4>
    </a>
    
    <a href="http://www.github.com/troverman">	
	<img id="images_div_github" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/github.png" />
	<h4>github</h4>
    </a>	
    
    <a href="https://plus.google.com/100807194101723191565/">
	<img id="images_div_gplus" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/gplus.png" />
	<h4>google+</h4>
    </a>	
    
    <a href="http://www.inlrn.com/member/troverman">
	<img id="images_div_inlrn" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/inlrn.png" />
    <h4>inlrn</h4>
    </a>
    	
    <a href="http://www.lealr.com/member/troverman">	
	<img id="images_div_lealr" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/lealr.png" />
    <h4>lealr</h4>
    </a>
    
    <a href="http://www.linkedin.com/pub/trevor-overman/40/716/396">	
	<img id="images_div_linkedin" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/linkedin.jpg" />
    <h4>linkedin</h4>
    </a>	
    
	<a href="http://www.twitter.com/troverman">
    <img id="images_div_twitter" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/twitter.jpg" />
    <h4>twitter</h4>
    </a>
    
    <a href="http://www.youtube.com/user/troverman">
	<img id="images_div_youtube" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/youtube.jpg" />
    <h4>youtube</h4>
    </a>
    
    <a href="http://www.voetr.com/member/troverman">
	<img id="images_div_voetr" style="height:48px;display:inline-block;float:left;" class="img-polaroid" src="/trovermancom/static/images/voetr.png" />
    <h4>voetr</h4>
    </a>
    
</div>
