{{extend 'layout.html'}}
<style>
    .img-polaroid{padding:2px;}
</style>
<div style="
    border-bottom:1px solid rgb(210,210,210);
    padding:5px;
    padding-bottom:10px;
    margin-left:-15px;
    margin-top:-32px;
    background-color:rgb(248,248,248);
    ">
    
	<a id="link_div_deliveryfor" href="http://www.deliveryfor.com">
	<img id="images_div_deliveryfor" style="margin-left:12%;height:48px;display:inline-block;" class="img-polaroid" src="/trovermancom/static/images/deliveryfor.png" />
	<h3 style="position:absolute;display:inline-block;margin-left:20px;margin-top:8px;">deliveryfor</h3>
	</a> 
	
</div>
<div class="main-content">
	<br>
	
	{{for count, image in enumerate(image_array):}}
        <div id="picture-{{=count}}" style="">
            <img id="images_div" src="{{=URL('download',args=image[1])}}" class="img-polaroid" style="margin-left:auto;margin-right:auto;display:block;height:500px;" id="picutre-" />
        </div>
    {{pass}}
    
    <br><hr><br>
    <p class="lead">freelance delivery</p>
    
    <p class="lead">have you ever wanted some taco bell at 1am? some toothpaste in no time flat?</p>
    <p class="lead">deliveryfor is your one stop shop for anything local, delivered directly to you. simply make an accout and order today.</p>
	<p class="lead">and the best thing is, anyone can become a driver.</p>
    <p class="lead">to become a delivery driver, make an account, <a href="">download the app</a>, and free up some time. the orders will start coming in soon!</p> 
    <!--<p class="lead">we even employ drones! the latest in robo technology, and it's all open source! <a href="http://www.github.com/troverman/deliveryfor">check it out</a>. :D-->
	<p class="lead">deliveryfor is a nonprofit organization, owned by no one, and completely <a href="">transparent</a>.</p>
	<p class="lead">join the <a href="http://www.voetr.com/committee/deliveryfor">voetr committee</a>, and even you can have a say on how things are done.</p>


</div>
<br>
<br>
<br>
<br>
<script>
	
	$(document).ready(function() {
		
		$('#link_div_deliveryfor').hover(function() {
			$('#images_div_deliveryfor').css('border','1px solid rgb(100,100,100)');
        },function(){
			$('#images_div_deliveryfor').css('border','1px solid rgba(0,0,0,0.2)');
        });  
        $('#images_div_deliveryfor').hover(function() {
			$('#images_div_deliveryfor').css('border','1px solid rgb(100,100,100)');
		},function(){
			$('#images_div_deliveryfor').css('border','1px solid rgba(0,0,0,0.2)');
        });
        
	});

</script>
