{{extend 'layout.html'}}
<style>
    .img-polaroid{padding:2px;}
</style>
<div style="
    border-bottom:1px solid rgb(210,210,210);
    padding:5px;
    padding-bottom:10px;
    margin-left:-15px;
    margin-top:-32px;
    background-color:rgb(248,248,248);
    ">
    
	<a id="link_div_epointme" href="http://www.epoint.me">
	<img id="images_div_epointme" style="margin-left:12%;height:48px;display:inline-block;" class="img-polaroid" src="/trovermancom/static/images/epointme.png" />
	<h3 style="position:absolute;display:inline-block;margin-left:20px;margin-top:8px;">epoint.me</h3>
	</a> 
	    
</div>
<div class="main-content"><br>
    <p class="lead">virtual economy</p>
    <p class="lead">rembember, value is subjective</p>
    <p class="lead">anyone can create a currency, and everyone valuates it through the exchange.</p>
    <p class="lead">transparent, crowd owned, value based economy. oh boy. voetr eneabled.</p>
	<p class="lead">github, facebook, twitter, google plus</p>

</div>

<script>
	
	$(document).ready(function() {
		
		$('#link_div_epointme').hover(function() {
			$('#images_div_epointme').css('border','1px solid rgb(100,100,100)');
        },function(){
			$('#images_div_epointme').css('border','1px solid rgba(0,0,0,0.2)');
        });  
        $('#images_div_epointme').hover(function() {
			$('#images_div_epointme').css('border','1px solid rgb(100,100,100)');
		},function(){
			$('#images_div_epointme').css('border','1px solid rgba(0,0,0,0.2)');
        });
        
	});

</script>
