{{extend 'layout.html'}}

<style>
#iframe {
    display: block;
    width: 420px;
    height: 315px;
    margin: 0 auto;
    border: 0;
}
</style>

<div style="
    border-bottom:1px solid rgb(210,210,210);
    padding:5px;
    padding-bottom:10px;
    margin-left:-15px;
    margin-top:-32px;
    background-color:rgb(248,248,248);
    ">
    
        <h3 style="margin-left:12%;color:rgb(70,70,70)">mission</h3>
    
</div>
<div class="main-content"><br>
    <p class="lead" style="text-align:center;">to know that... it's just a ride.</p>
    
    <div id="iframe"><iframe width="420" height="315" src="//www.youtube.com/embed/iMUiwTubYu0?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <br>
    
    <p class="lead" style="text-align:center;">to realize that every moment is a chance to learn. </p>
    <p class="lead" style="text-align:center;">to see yourself in others.</p>
    <p class="lead" style="text-align:center;">to lose seperation.</p>
    <p class="lead" style="text-align:center;">to choose.</p>
    <p class="lead" style="text-align:center;">to become.</p>
    <hr>
    <p class="lead" style="text-align:center;">giving is recieving.</p><hr><br>
    
    
    <p class="lead" style="text-align:center;">create a transparent and crowdowned world</p>
    <p class="lead" style="text-align:center;">create love backed value</p>
    <p class="lead" style="text-align:center;">groupthought not groupthink</p>

    
    <br><hr><br>
    <div id="life" style="margin-left:15px;">        
        {{for count, html_block in enumerate(random_html_block_array):}}
            <div class="tab-pane" id="html-block-{{=count}}" style="display:none;">
                {{=XML(html_block)}}
            </div>
        {{pass}}        
    </div>
<script>
    $(document).ready(function() {
        var len_html_block = {{=len(random_html_block_array)}} - 1;
        $('#html-block-0').css('display','block');
        function an_interval_function(){
            var i = Math.round((Math.random()) * len_html_block);   
            if (i >= len_html_block) --i;
            for(var j = 0; j < len_html_block; j++){
                var css_picture_info_property = $('#html-block-' + j).css('display');
                if (css_picture_info_property == 'block'){
                    var css_picture_info_property_index = j;
                }
                $('#html-block-' + j).css('display','none');
            } 
            while (i == css_picture_info_property_index){
                i = Math.round((Math.random()) * len_html_block);
                if (i >= len_html_block) --i;                     
            }
            $('#html-block-' + i).fadeToggle(1000, "linear");
            $('#html-block-' + i).css('display','block');
        }; 
        timer = setInterval(an_interval_function,7000);
    });
</script>   
<br>
<br>
<br>    
<br>
<br>

</div>
