{{extend 'layout.html'}}

<style>
#iframe {
    display: block;
    width: 420px;
    height: 315px;
    margin: 0 auto;
    border: 0;
}
</style>

<div style="
    border-bottom:1px solid rgb(210,210,210);
    padding:5px;
    padding-bottom:10px;
    margin-left:-15px;
    margin-top:-32px;
    background-color:rgb(248,248,248);
    ">
    
        <h3 style="margin-left:12%;color:rgb(70,70,70)">mission</h3>
    
</div>
<div class="main-content"><br>
    <p class="lead" style="text-align:center;">to know that... it's just a ride.</p>
    
    <div id="iframe"><iframe width="420" height="315" src="//www.youtube.com/embed/iMUiwTubYu0?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <br>
    
    <p class="lead" style="text-align:center;">to realize that every moment is a chance to learn. </p>
    <p class="lead" style="text-align:center;">to see yourself in others.</p>
    <p class="lead" style="text-align:center;">to lose seperation.</p>
    <p class="lead" style="text-align:center;">to choose.</p>
    <p class="lead" style="text-align:center;">to become.</p>
    <hr>
    <p class="lead" style="text-align:center;">giving is recieving.</p><hr><br>
    
    
    <p class="lead" style="text-align:center;">create a transparent world</p>
    <p class="lead" style="text-align:center;">create a crowd owned world</p>
    <p class="lead" style="text-align:center;">groupthought not groupthink</p>

    
    <br><br><br><br><br>
    stats, graph, widget type thing .. .. . scroller. inspirational quote scroller. ... 
   
<br>
<br>
<br>     
</div>
