{{extend 'layout.html'}}
<div style="
    border-bottom:1px solid rgb(210,210,210);
    padding:5px;
    padding-bottom:10px;
    margin-left:-15px;
    margin-top:-32px;
    background-color:rgb(248,248,248);
    ">
    
        <h3 style="margin-left:12%;color:rgb(70,70,70);display:inline-block;">{{=post[0]['title']}}</h3>
        <div style="margin-right:10%;display:inline-block;float:right;margin-top:22px;">
            {{for count, tag in enumerate(tag_list):}}
                {{if count == len(tag_list) - 1:}}
                    <a href="/posts/tag/{{=tag['tag']}}">{{=tag['tag']}}</a>
                {{else:}}
                    <a href="/posts/tag/{{=tag['tag']}}">{{=tag['tag']}}</a>,
                {{pass}}
            {{pass}}
        </div>
</div>
<div class="main-content"><br><br>
    {{=XML(post[0]['post_content'])}}

</div>
